<div class='row'>
    <h2>投稿数の前日比・先週比</h2>
    <table class='table table-striped text-center'>
      <tr>
        <th>今日の投稿数</th>
        <th>昨日の投稿数</th>
        <th>昨日との差</th>
      </tr>
      <tr>
        <td>
          <%= @user.todays_post.length %>
        </td>
        <td>
          <%= @user.predays_post.length %>
        </td>
        <td>
          <%= @user.todays_post.length - @user.predays_post.length %>
        </td>
      </tr>
      <tr>
        <th>今週の投稿数</th>
        <th>先週の投稿数</th>
        <th>先週との差</th>
      </tr>
      <tr>
        <td>
          <%= @user.this_week_post.length %>
        </td>
        <td>
          <%= @user.pre_week_post.length %>
        </td>
        <td>
          <%= @user.this_week_post.length - @user.pre_week_post.length %>
        </td>
      </tr>
    </table>
    
  </div>