<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/828d915f8a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
        <p id="notice"><%= notice %></p>
     
        <% if @book && @book.errors.any? %>
         
          <div>
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      
            <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% elsif @book_tmp && @book_tmp.errors.any? %>
            <div>
            <h2><%= pluralize(@book_tmp.errors.count, "error") %> prohibited this book from being saved:</h2>
      
            <ul>
            <% @book_tmp.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
